<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Strona Główna</title>
</head>
<body>
    

    <% if (user) { %>
        <h1>Witaj <%= user %>.</h1>
        <a href="/home">Home</a>
        <a href="/changePassword">Zmień hasło</a>
        <a href="/app">Przejdź do aplikacji</a>
        <a href="/logout">Wyloguj się</a>

    <% } else { %>
        <h1>Nie jesteś zalogowany.</h1>
        <a href="/login">Zaloguj się</a>
    <% } %>
</body>
</html>
