<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Strona Główna</title>
</head>
<body>
    <h1>Witaj na stronie głównej!</h1>
    
    <% if (user) { %>
        <p>Jesteś zalogowany jako <%= user %>.</p>
        <a href="/account">Moje konto</a>
        <a href="/app">Przejdź do aplikacji</a>
        <a href="/logout">Wyloguj się</a>
    <% } else { %>
        <p>Nie jesteś zalogowany.</p>
        <a href="/login">Zaloguj się</a>
    <% } %>
</body>
</html>
